#outer {
position: relative; top: 10px; left: 0px;
}

#radial1 {
opacity: 0.8;
font-size: 24px;
width:  400px;
height: 300px;
position: absolute; top: 300px; left: 400px;

background: -webkit-gradient(
  radial, 500 40%, 0, 301 25%, 360, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
}

#radial2 {
opacity: 0.6;
font-size: 24px;
width:  500px;
height: 500px;
position: absolute; top: 100px; left: 100px;

background: -webkit-gradient(
  radial, 500 40%, 0, 301 25%, 360, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 25%;
}

#radial3 {
opacity: 0.4;
font-size: 24px;
width:  800px;
height: 600px;
position: absolute; top: 0px; left: 0px;

background: -webkit-gradient(
  radial, 500 40%, 0, 301 25%, 360, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
-webkit-box-shadow:  0px 0px 8px #000;
}

#radial4 {
opacity: 0.2;
font-size: 24px;
width:  400px;
height: 400px;
position: absolute; top: 200px; left: 200px;

background: -webkit-gradient(
  radial, 500 40%, 0, 301 25%, 360, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 25%;

background-image: -webkit-gradient(linear, right top, left bottom, 
                   from(yellow), 
                   color-stop(25%, yellow), 
                   color-stop(25%, red), 
                   color-stop(50%, blue),
                   color-stop(50%, yellow), 
                   color-stop(75%, blue),
                   color-stop(75%, red), 
                   to(red));
-webkit-background-size: 5px;
}

