#outer {
position: relative; top: 10px; left: 0px;
}

#radial1 {
opacity: 0.5;
font-size: 24px;
width:  200px;
height: 200px;
position: absolute; top: 200px; left: 400px;

background: -webkit-gradient(
  radial, 300 40%, 161, 301 25%, 260, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
}

#radial2 {
opacity: 0.5;
font-size: 24px;
width:  500px;
height: 500px;
position: absolute; top: 100px; left: 100px;

background: -webkit-gradient(
  radial, 300 40%, 161, 301 25%, 260, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
}

#radial3 {
opacity: 0.5;
font-size: 24px;
width:  800px;
height: 800px;
position: absolute; top: 0px; left: 0px;

background: -webkit-gradient(
  radial, 500 40%, 0, 301 25%, 360, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
-webkit-box-shadow:  0px 0px 8px #000;
}

#radial4 {
opacity: 0.5;
font-size: 24px;
width:  800px;
height: 800px;
position: absolute; top: 20px; left: 0px;

background: -webkit-gradient(
  radial, 300 50%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;

background: -webkit-gradient(
               radial, 100 50%, 20, 300 50%, 100, 
               from(red), 
               color-stop(0.1, blue), 
               color-stop(0.2, orange), 
               color-stop(0.4, yellow), 
               color-stop(0.5, red), 
               color-stop(0.6, green), 
               color-stop(0.8, blue), 
               to(#fff));
-webkit-background-size: 5px;
}

