#outer {
position: relative; top: 10px; left: 0px;
}

#radial1 {
opacity: 0.8;
font-size: 24px;
width:  600px;
height: 320px;
position: absolute; top: 0px; left: 0px;

background: -webkit-gradient(
               radial, 100 50%, 20, 500 50%, 100, 
               from(red), 
               color-stop(0.1, blue), 
               color-stop(0.2, orange), 
               color-stop(0.4, yellow), 
               color-stop(0.5, red), 
               color-stop(0.6, green), 
               color-stop(0.8, blue), 
               to(#fff));
}

#radial2 {
opacity: 0.5;
font-size: 24px;
width:  300px;
height: 160px;
position: absolute; top: 0px; left: 300px;

background: -webkit-gradient(
  radial, 200 25%, 10, 150 50%, 40, from(red), to(#fff)
 );
}

#radial3 {
opacity: 0.5;
font-size: 24px;
width:  300px;
height: 160px;
position: absolute; top: 160px; left: 0px;

background: -webkit-gradient(
  radial, 100 55%, 20, 150 25%, 40, from(blue), 
  color-stop(0.2, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-box-shadow:  0px 0px 8px #000;
}

#radial4 {
opacity: 0.5;
font-size: 24px;
width:  300px;
height: 160px;
position: absolute; top: 160px; left: 300px;

background: -webkit-gradient(
  radial, 200 25%, 20, 100 25%, 40, from(blue), 
  color-stop(0.2, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.8, blue),
  to(#fff)
 );

background-image: -webkit-gradient(linear, right top, left bottom, 
                   from(yellow), 
                   color-stop(25%, yellow), 
                   color-stop(25%, red), 
                   color-stop(50%, blue),
                   color-stop(50%, yellow), 
                   color-stop(75%, blue),
                   color-stop(75%, red), 
                   to(red));
-webkit-background-size: 5px;
}

