#outer {
position: relative; top: 10px; left: 0px;
}

#linear1 {
opacity: 0.9;
font-size: 24px;
width:  800px;
height: 500px;

position: relative; top: 0px; left: 0px;

background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, 
                                   from(#f00), 
                                   color-stop(0.2, orange), 
                                   color-stop(0.4, yellow), 
                                   color-stop(0.6, green), 
                                   color-stop(0.8, blue),
                                   to(#00f));

background-image: -gradient(linear, right top, left bottom, 
                            from(yellow), 
                            color-stop(25%, yellow), 
                            color-stop(25%, red), 
                            color-stop(50%, blue),
                            color-stop(50%, yellow), 
                            color-stop(75%, blue),
                            color-stop(75%, red), 
                            to(red));

-webkit-transform : scale(2) skew(-10deg, -30deg);
-transform : scale(2) skew(-10deg, -30deg);
-webkit-background-size: 100% 33%;
-webkit-background-size: 10px;
background-size: 20px;

-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow:  30px 30px 30px #000;
}

#linear2 {
opacity: 0.3;
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 0px; left: 400px;

background-image: -webkit-gradient(linear, right top, left bottom, 
                                   from(yellow), 
                                   color-stop(55%, yellow), 
                                   color-stop(55%, blue), 
                                   to(red));

background-image: -gradient(linear, right top, left bottom, 
                            from(yellow), 
                            color-stop(55%, yellow), 
                            color-stop(55%, blue), 
                            to(red));

-webkit-transform : scale(1.5) skew(20deg, 30deg);
-transform : scale(1.5) skew(30deg, 30deg);
-webkit-background-size: 100% 50%;
-webkit-background-size: 20px;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow:  30px 30px 30px #000;
}

#linear3 {
opacity: 0.3;
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 250px; left: 0px;

background-image: -webkit-gradient(linear, right top, left bottom, 
                                   from(yellow), 
                                   color-stop(25%, yellow), 
                                   color-stop(25%, blue), 
                                   color-stop(75%, yellow),
                                   color-stop(75%, blue), 
                                   to(red));

background-image: -gradient(linear, right top, left bottom, 
                            from(yellow), 
                            color-stop(25%, yellow), 
                            color-stop(25%, blue), 
                            color-stop(75%, yellow),
                            color-stop(75%, blue), 
                            to(red));

-webkit-transform : scale(2.5) skew(-20deg, -30deg);
-transform : scale(2.5) skew(-20deg, -30deg);
-webkit-background-size: 100% 25%;
-webkit-background-size: 10px;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow:  30px 30px 30px #000;
}

#linear4 {
opacity: 0.3;
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 250px; left: 400px;

background-image: -webkit-gradient(linear, right top, left bottom, 
                                   from(yellow), 
                                   color-stop(25%, yellow), 
                                   color-stop(25%, red), 
                                   color-stop(50%, red),
                                   color-stop(50%, yellow), 
                                   color-stop(75%, yellow),
                                   color-stop(75%, red), 
                                   to(red));

background-image: -gradient(linear, right top, left bottom, 
                            from(yellow), 
                            color-stop(25%, yellow), 
                            color-stop(25%, red), 
                            color-stop(50%, red),
                            color-stop(50%, yellow), 
                            color-stop(75%, yellow),
                            color-stop(75%, red), 
                            to(red));

-webkit-transform : scale(1.5) skew(40deg, 30deg);
-transform : scale(1.5) skew(40deg, 30deg);
-webkit-background-size: 100% 33%;
-webkit-background-size: 10px;
background-size: 10px;

-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow:  30px 30px 30px #000;
}

