#outer {
position: relative; top: 10px; left: 0px;
}

#linear1 {
opacity: 0.9;
font-size: 24px;
width:  800px;
height: 500px;

position: relative; top: 0px; left: 0px;

background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
                                   from(#fff), to(#f00));
background-image: -gradient(linear, 0% 0%, 0% 100%, 
                                   from(#fff), to(#f00));

-webkit-background-size: 100% 33%;
-webkit-border-radius: 4px;
border-radius: 4px;
}

#linear2 {
opacity: 0.5;
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 0px; left: 400px;

background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
                                   from(#f00), to(#00f));
background-image: -gradient(linear, 0% 0%, 0% 100%, 
                                   from(#f00), to(#00f));

-webkit-background-size: 100% 50%;
-webkit-border-radius: 4px;
border-radius: 4px;
}

#linear3 {
opacity: 0.5;
font-size: 24px;
width:  400px;
height: 250px;

position: absolute; top: 250px; left: 0px;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
                                   from(#f00), to(#00f));
background-image: -gradient(linear, 0% 0%, 0% 100%, 
                                   from(#f00), to(#00f));

-webkit-background-size: 100% 25%;
-webkit-border-radius: 4px;
border-radius: 4px;
}

#linear4 {
opacity: 0.5;
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 250px; left: 400px;

background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
                                   from(#ff0), to(#00f));
background-image: -gradient(linear, 0% 0%, 0% 100%, 
                                   from(#ff0), to(#00f));

-webkit-background-size: 100% 33%;
-webkit-border-radius: 4px;
border-radius: 4px;
}

