#outer {
position: relative; top: 10px; left: 0px;
}

#radial1 {
opacity: 0.5;
font-size: 24px;
width:  400px;
height: 100px;
position: absolute; top: 400px; left: 400px;

background: -webkit-gradient(
  radial, 400 25%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;

-webkit-transform : scale(2.5) skew(-15deg, -30deg);
-transform : scale(2.5) skew(-15deg, -30deg);
}

#radial2 {
opacity: 0.5;
font-size: 24px;
width:  400px;
height: 500px;
position: absolute; top: 0px; left: 400px;

background: -webkit-gradient(
  radial, 300 25%, 40, 100 25%, 20, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
-webkit-box-shadow:  0px 0px 8px #000;

-webkit-transform : scale(2) skew(-10deg, -30deg);
-transform : scale(2) skew(-10deg, -30deg);
}

#radial3 {
opacity: 0.5;
font-size: 24px;
width:  800px;
height: 500px;
position: absolute; top: 0px; left: 0px;

background: -webkit-gradient(
  radial, 300 30%, 160, 150 25%, 80, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
-webkit-box-shadow:  0px 0px 8px #000;

-webkit-transform : scale(1.2) skew(20deg, 30deg);
-transform : scale(1.2) skew(30deg, 30deg);
}

#radial4 {
opacity: 0.5;
font-size: 24px;
width:  400px;
height: 100px;
position: absolute; top: 400px; left: 0px;

background: -webkit-gradient(
  radial, 400 25%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.7, blue),
  to(#fff)
 );
-webkit-background-size: 100% 25%;

background-image: -webkit-gradient(linear, right top, left bottom, 
                   from(yellow), 
                   color-stop(25%, yellow), 
                   color-stop(25%, red), 
                   color-stop(50%, red),
                   color-stop(50%, yellow), 
                   color-stop(75%, yellow),
                   color-stop(75%, red), 
                   to(red));
-webkit-background-size: 20px;

-webkit-transform : scale(2.2) skew(25deg, 35deg);
-transform : scale(2.2) skew(35deg, 35deg);
}

