#outer {
position: relative; top: 10px; left: 0px;
}

#radial1 {
opacity: 0.5;
font-size: 24px;
width:  800px;
height: 100px;
position: absolute; top: 400px; left: 0px;

background: -webkit-gradient(
  radial, 400 25%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 25%;
-webkit-border-radius: 50%;
}

#radial2 {
opacity: 0.5;
font-size: 24px;
width:  400px;
height: 500px;
position: absolute; top: 0px; left: 400px;

background: -webkit-gradient(
  radial, 300 25%, 40, 100 25%, 20, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;

-webkit-transform : scale(2) rotate(-45deg);
-transform : scale(2) rotate(-45deg);
-webkit-border-radius: 50%;
}

#radial3 {
opacity: 0.5;
font-size: 24px;
width:  800px;
height: 600px;
position: absolute; top: 0px; left: 0px;

background: -webkit-gradient(
  radial, 300 30%, 160, 250 25%, 80, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 25%;
-webkit-box-shadow:  0px 0px 8px #000;
-webkit-border-top-right-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
}

#radial4 {
opacity: 0.5;
font-size: 24px;
width:  800px;
height: 600px;
position: absolute; top: 20px; left: 0px;

background: -webkit-gradient(
  radial, 300 50%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;

background-image: -webkit-gradient(linear, right top, left bottom, 
                   from(yellow), 
                   color-stop(25%, yellow), 
                   color-stop(25%, red), 
                   color-stop(50%, red),
                   color-stop(50%, yellow), 
                   color-stop(75%, yellow),
                   color-stop(75%, red), 
                   to(red));
-webkit-background-size: 5px;
-webkit-border-top-right-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
}

#radial33 {
opacity: 0.5;
font-size: 24px;
width:  800px;
height: 600px;
position: absolute; top: 0px; left: 0px;

background: -webkit-gradient(
  radial, 300 30%, 160, 250 25%, 80, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 25%;
-webkit-box-shadow:  0px 0px 8px #000;
-webkit-border-top-right-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-transform : scale(0.5) rotate(45deg);
-transform : scale(0.5) rotate(45deg);
}

#radial44 {
opacity: 0.5;
font-size: 24px;
width:  800px;
height: 600px;
position: absolute; top: 20px; left: 0px;

background: -webkit-gradient(
  radial, 300 50%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;

background-image: -webkit-gradient(linear, right top, left bottom, 
                   from(yellow), 
                   color-stop(25%, yellow), 
                   color-stop(25%, red), 
                   color-stop(50%, red),
                   color-stop(50%, yellow), 
                   color-stop(75%, yellow),
                   color-stop(75%, red), 
                   to(red));
-webkit-background-size: 5px;
-webkit-border-top-right-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-transform : scale(0.5) rotate(45deg);
-transform : scale(0.5) rotate(45deg);
}

