
#outer {
position: relative; top: 10px; left: 0px;
}

/* define animation effects */
@-webkit-keyframes upperLeft {
   0% {
      -webkit-transform: translate(0px,0) rotate(-5deg) skew(-15deg,0);
   }
   50% {
      -webkit-transform: translate(-100px,0) rotate(-15deg) skew(-25deg,0);
   }
   75% {
      -webkit-transform: translate(-200px,0) rotate(-5deg) skew(-15deg,0);
   }
   100% {
      -webkit-transform: translate(0px,0) rotate(0) skew(0,0);
   }
}

@-webkit-keyframes lowerLeft {
   0% {
      -webkit-transform: translate(0px,0) rotate(5deg) skew(15deg,0);
   }
   50% {
      -webkit-transform: translate(-100px,0) rotate(15deg) skew(25deg,0);
   }
   75% {
      -webkit-transform: translate(-200px,0) rotate(5deg) skew(15deg,0);
   }
   100% {
      -webkit-transform: translate(0px,0) rotate(0) skew(0,0);
   }
}

@-webkit-keyframes upperRight {
   0% {
      -webkit-transform: translate(0px,0) rotate(5deg) skew(-15deg,0);
   }
   50% {
      -webkit-transform: translate(100px,0) rotate(15deg) skew(-25deg,0);
   }
   75% {
      -webkit-transform: translate(200px,0) rotate(5deg) skew(-15deg,0);
   }
   100% {
      -webkit-transform: translate(0px,0) rotate(0) skew(0,0);
   }
}
 
@-webkit-keyframes lowerRight {
   0% {
      -webkit-transform: translate(0px,0) rotate(-5deg) skew(15deg,0);
   }
   50% {
      -webkit-transform: translate(100px,0) rotate(-15deg) skew(25deg,0);
   }
   75% {
      -webkit-transform: translate(200px,0) rotate(-5deg) skew(15deg,0);
   }
   100% {
      -webkit-transform: translate(0px,0) rotate(0) skew(0,0);
   }
}

#linear1 {
font-size: 24px;
width:  400px;
height: 250px;

position: relative; top: 0px; left: 0px; 

background-color:white;
background-image:
  -webkit-radial-gradient(red 4px, transparent 48px), 
  -webkit-repeating-radial-gradient(red 2px,  green 4px, yellow 8px, blue 12px, transparent 16px, 
                                    red 20px, blue 24px, transparent 28px, transparent 32px),
  -webkit-repeating-radial-gradient(red 2px,  green 4px, yellow 8px, blue 12px, transparent 16px, 
                                    red 20px, blue 24px, transparent 28px, transparent 32px),
  -webkit-radial-gradient(blue 8px, transparent 68px);

background-size: 120px 120px, 4px 4px; 
background-position: 0 0;
-webkit-animation-name: upperLeft;
-webkit-animation-duration: 6s;
}

#linear2 {
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 0px; left: 400px;

background-color:white;
background-image:
  -webkit-radial-gradient(blue 4px, transparent 2px), 
  -webkit-repeating-radial-gradient(red 2px,  green 4px, yellow 8px, blue 12px, transparent 16px, 
                                    green 20px, red 24px, transparent 28px, transparent 12px),
  -webkit-repeating-radial-gradient(red 2px,  green 4px, yellow 8px, blue 12px, transparent 16px, 
                                    green 20px, red 24px, transparent 28px, transparent 12px),
  -webkit-radial-gradient(yellow 18px, transparent 10px);
background-size: 10px 20px, 30px 40px; 
background-position: 0 0;

resize:both;
overflow:auto;
-webkit-animation-name: upperRight;
-webkit-animation-duration: 6s;
}

#linear3 {
font-size: 24px;
width:  400px;
height: 250px;

position: absolute; top: 250px; left: 0px;

background-color:white;
background-image:
  -webkit-radial-gradient(red 8px, transparent 1px), 
  -webkit-repeating-radial-gradient(red 3px,  green 4px, yellow 8px, blue 12px, transparent 16px, 
                                    green 20px, red 24px, transparent 28px, transparent 32px),
  -webkit-repeating-radial-gradient(red 3px,  green 4px, yellow 8px, blue 12px, transparent 16px, 
                                    green 20px, red 24px, transparent 28px, transparent 32px),
  -webkit-radial-gradient(blue 12px, transparent 3px);
background-size: 60px 60px, 2px 2px; 
background-position: 0 0;

resize:both;
overflow:auto;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 6s;
}

#linear4 {
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 250px; left: 400px;

background-color:white;
background-image:
  -webkit-radial-gradient(red 8px, transparent 2px), 
  -webkit-repeating-radial-gradient(red 4px,  yellow 1px, green 8px, red 12px, transparent 16px, 
                                    blue 20px, red 24px, transparent 18px, blue 12px),
  -webkit-repeating-radial-gradient(red 3px,  yellow 1px, green 8px, red 12px, transparent 16px, 
                                    blue 20px, red 24px, transparent 18px, blue 12px),
  -webkit-radial-gradient(black 28px, transparent 18px); 
background-size: 100px 20px, 10px 10px; 
background-position: 0 0;

-webkit-border-radius: 4px;
border-radius: 4px;
resize:both;
overflow:auto;
-webkit-animation-name: lowerRight;
-webkit-animation-duration: 6s;
}

