#outer {
position: relative; top: 10px; left: 0px;
}

#radial1 {
font-size: 24px;
width:  300px;
height: 100px;
position: absolute; top: 400px; left: 300px;

background: -webkit-gradient(
  radial, 400 25%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
-webkit-box-reflect: right 15px;
-box-reflect: right 15px;
-webkit-border-top-right-radius: 80%;
-webkit-border-bottom-left-radius: 80%;
}

#radial2 {
font-size: 24px;
width:  300px;
height: 500px;
position: absolute; top: 0px; left: 300px;

background: -webkit-gradient(
  radial, 300 25%, 40, 100 25%, 20, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
-webkit-box-reflect: right 15px;
-box-reflect: right 15px;
-webkit-border-radius: 50%;
}

#radial3 {
font-size: 24px;
width:  600px;
height: 500px;
position: absolute; top: 0px; left: 0px;

background: -webkit-gradient(
  radial, 300 30%, 160, 150 25%, 80, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
-webkit-box-shadow:  0px 0px 8px #000;
-webkit-box-reflect: right 15px;
-box-reflect: right 15px;
-webkit-border-radius: 50%;
}

#radial4 {
font-size: 24px;
width:  300px;
height: 100px;
position: absolute; top: 400px; left: 0px;

background: -webkit-gradient(
  radial, 400 25%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.7, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
-webkit-box-reflect: right 15px;
-box-reflect: right 15px;
-webkit-border-bottom-right-radius: 100%;
}

#radial33 {
font-size: 24px;
width:  600px;
height: 500px;
position: absolute; top: 0px; left: 0px;

background: -webkit-gradient(
  radial, 300 30%, 160, 150 25%, 80, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
-webkit-box-shadow:  0px 0px 8px #000;
-webkit-box-reflect: right 15px;
-box-reflect: right 15px;
-webkit-border-radius: 50%;
-webkit-transform : scale(1.5) rotate(45deg);
-transform : scale(1.5) rotate(45deg);
}

#radial44 {
font-size: 24px;
width:  300px;
height: 100px;
position: absolute; top: 400px; left: 0px;

background: -webkit-gradient(
  radial, 400 25%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.7, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
-webkit-box-reflect: right 15px;
-box-reflect: right 15px;
-webkit-border-bottom-right-radius: 100%;
-webkit-transform : scale(0.5) rotate(45deg);
-transform : scale(0.5) rotate(45deg);
}

