#outer {
position: relative; top: 10px; left: 0px;
}

/* define animation effects */
@-webkit-keyframes upperLeft {
   0% {
      -webkit-transform: translate(0px,0px) rotateY(-75deg) skew(-45deg,0);
   }
   50% {
      -webkit-transform: translate(450px,250px) rotateY(195deg) skew(75deg,0);
   }
   75% {
      -webkit-transform: translate(100px,200px) rotateY(-315deg) skew(-25deg,0);
   }
   100% {
      -webkit-transform: translate(300px,150px) rotateY(415deg) skew(65deg,0);
   }
}

@-webkit-keyframes lowerLeft {
   0% {
      -webkit-transform: translate(0px,0px) rotateY(-75deg) skew(-45deg,0);
   }
   50% {
      -webkit-transform: translate(450px,250px) rotateY(195deg) skew(75deg,0);
   }
   75% {
      -webkit-transform: translate(100px,200px) rotateY(-315deg) skew(-25deg,0);
   }
   100% {
      -webkit-transform: translate(300px,150px) rotateY(415deg) skew(65deg,0);
   }
}

@-webkit-keyframes upperRight {
   0% {
      -webkit-transform: translate(0px,0px) rotateZ(-75deg) skew(-45deg,0);
   }
   50% {
      -webkit-transform: translate(450px,250px) rotateY(195deg) skew(75deg,0);
   }
   75% {
      -webkit-transform: translate(100px,200px) rotateY(-315deg) skew(-25deg,0);
   }
   100% {
      -webkit-transform: translate(300px,150px) rotateY(415deg) skew(65deg,0);
   }
}
 
@-webkit-keyframes lowerRight {
   0% {
      -webkit-transform: translate(0px,0px) rotateZ(-75deg) skew(-45deg,0);
   }
   50% {
      -webkit-transform: translate(450px,250px) rotateY(195deg) skew(75deg,0);
   }
   75% {
      -webkit-transform: translate(100px,200px) rotateY(-315deg) skew(-25deg,0);
   }
   100% {
      -webkit-transform: translate(300px,150px) rotateY(415deg) skew(65deg,0);
   }
}

#linear1 {
opacity: 0.9;
font-size: 24px;
width:  800px;
height: 500px;

position: relative; top: 0px; left: 0px;

background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
                                   from(#fff), to(#f00));
background-image: -gradient(linear, 0% 0%, 0% 100%, 
                                   from(#fff), to(#f00));

-webkit-transform : scale(2) skew(-10deg, -30deg);
-transform : scale(2) skew(-10deg, -30deg);
-webkit-background-size: 100% 33%;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-animation-name: upperLeft;
-webkit-animation-duration: 6s;
}

#linear2 {
opacity: 0.5;
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 0px; left: 400px;

background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
                                   from(#f00), to(#00f));
background-image: -gradient(linear, 0% 0%, 0% 100%, 
                                   from(#f00), to(#00f));

-webkit-transform : scale(1.5) skew(20deg, 30deg);
-transform : scale(1.5) skew(30deg, 30deg);
-webkit-background-size: 100% 50%;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-animation-name: upperRight;
-webkit-animation-duration: 6s;
}

#linear3 {
opacity: 0.5;
font-size: 24px;
width:  400px;
height: 250px;

position: absolute; top: 250px; left: 0px;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
                                   from(#f00), to(#00f));
background-image: -gradient(linear, 0% 0%, 0% 100%, 
                                   from(#f00), to(#00f));

-webkit-transform : scale(2.5) skew(-20deg, -30deg);
-transform : scale(2.5) skew(-20deg, -30deg);
-webkit-background-size: 100% 25%;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 6s;
}

#linear4 {
opacity: 0.5;
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 250px; left: 400px;

background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
                                   from(#ff0), to(#00f));
background-image: -gradient(linear, 0% 0%, 0% 100%, 
                                   from(#ff0), to(#00f));

-webkit-transform : scale(1.5) skew(40deg, 30deg);
-transform : scale(1.5) skew(40deg, 30deg);
-webkit-background-size: 100% 33%;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-reflect: right 1px;
-box-reflect: right 1px;
-webkit-animation-name: lowerRight;
-webkit-animation-duration: 6s;
}

