#outer {
position: relative; top: 10px; left: 0px;
}

/* define animation effects */
@-webkit-keyframes upperLeft {
   0% {
      -webkit-transform: matrix(1.0, 0.5, -0.5, 1.0, 0, 0) 
                         matrix(2.5, 0.5,  0.0, 2.5, 0, 0);
   }
   20% {
      -webkit-transform: matrix(0.5, 2.0,  2.5, 0.5, 0, 0) 
                         matrix(1.0, 0.0,  0.0, 1.0, 0, 0);
   }
   40% {
      -webkit-transform: matrix(1.5, 0.5,  0.5, 1.5, 0, 0) 
                         matrix(1.0, 0.0,  0.0, 1.0, 0, 0);
   }
   60% {
      -webkit-transform: matrix(0.5, 1.5,  0.0, 0.5, 0, 0) 
                         matrix(1.0, 0.5, -0.5, 1.0, 0, 0);
   }
   80% {
      -webkit-transform: matrix(1.5, 0.0,  0.5, 1.5, 0, 0) 
                         matrix(1.0, 0.5,  0.0, 1.0, 0, 0);
   }
   90% {
      -webkit-transform: matrix(3.0, 0.5,  0.0, 3.0, 0, 0) 
                         matrix(1.5, 0.0,  0.5, 2.5, 0, 0);
   }
   100% {
      -webkit-transform: matrix(2.0, 0.5,  0.0, 1.0, 0, 0) 
                         matrix(0.5, 0.0,  0.5, 0.5, 0, 0);
   }
}

@-webkit-keyframes lowerLeft {
   0% {
      -webkit-transform: matrix(1.5, 0.5,  0.0, 1.5, 0, 0) 
                         matrix(1.0, 0.0,  1.0, 1.0, 0, 0);
   }
   20% {
      -webkit-transform: matrix(1.0, 1.5, -0.5, 1.0, 0, 0) 
                         matrix(0.5, 0.5,  0.5, 0.5, 0, 0);
   }
   40% {
      -webkit-transform: matrix(1.5, 0.0,  0.5, 0.5, 0, 0) 
                         matrix(1.0, 1.5, -0.5, 1.0, 0, 0);
   }
   60% {
      -webkit-transform: matrix(0.25,1.0,  1.5, 0.25, 0, 0) 
                         matrix(2.0, 0.5, -0.5, 2.0, 0, 0);
   }
   80% {
      -webkit-transform: matrix(1.5, 0.0,  0.0, 1.5, 0, 0) 
                         matrix(3.0, 1.5,  1.0, 3.0, 0, 0);
   }
   90% {
      -webkit-transform: matrix(2.0, 0.5,  1.0, 3.0, 0, 0) 
                         matrix(1.5, 0.0,  0.5, 2.5, 0, 0);
   }
   100% {
      -webkit-transform: matrix(1.0, 0.0,  0.0, 1.0, 0, 0)
                         matrix(1.0, 0.5,  1.0, 1.5, 0, 0);
   }
}

@-webkit-keyframes upperRight {
   0% {
      -webkit-transform: matrix(1.0, 0.5,  0.0, 1.0, 0, 0) 
                         matrix(1.5, 0.0,  0.5, 1.5, 0, 0) 
   }
   20% {
      -webkit-transform: matrix(0.25, 0.0,  0.5, 0.25, 0, 0) 
                         matrix(2.0,  0.5, -0.5, 2.0, 0, 0);
   }
   40% {
      -webkit-transform: matrix(2.0,  0.5, -0.5, 2.0, 0, 0) 
                         matrix(0.25, 0.0, -1.5, 0.25, 0, 0);
   }
   60% {
      -webkit-transform: matrix(0.25, 0.0,  0.5, 0.25, 0, 0) 
                         matrix(3.0,  0.5, -0.5, 3.0, 0, 0);
   }
   80% {
      -webkit-transform: matrix(1.5, 1.0,  0.0, 1.5, 0, 0) 
                         matrix(3.0, 0.5,  0.5, 3.0, 0, 0);
   }
   90% {
      -webkit-transform: matrix(3.0, 0.5,  0.5, 3.0, 0, 0) 
                         matrix(1.5, 0.0, -1.5, 2.5, 0, 0);
   }
   100% {
      -webkit-transform: matrix(1.5, 0.0,  0.0, 1.5, 0, 0) 
                         matrix(1.0, 0.5,  1.0, 1.0, 0, 0);
   }
}
 
@-webkit-keyframes lowerRight {
   0% {
      -webkit-transform: matrix(1.0, 0.5,  0.0, 1.0, 0, 0) 
                         matrix(1.5, 0.0, -0.5, 1.5, 0, 0);
   }
   20% {
      -webkit-transform: matrix(0.25, 0.0,  0.5, 0.25, 0, 0) 
                         matrix(1.0,  0.5,  0.0, 1.0, 0, 0);
   }
   40% {
      -webkit-transform: matrix(2.0,  0.5, -0.5, 2.0, 0, 0) 
                         matrix(0.25, 0.0,  0.5, 0.25, 0, 0) 
   }
   60% {
      -webkit-transform: matrix(0.25, 0.0, 0.0, 0.25, 0, 0) 
                         matrix(3.0,  0.5, 1.0, 3.0, 0, 0);
   }
   80% {
      -webkit-transform: matrix(1.5, 0.0, 0.0, 1.5, 0, 0) 
                         matrix(3.0, 1.5, 1.0, 3.0, 0, 0);
   }
   90% {
      -webkit-transform: matrix(3.0, 0.5,  0.0, 3.0, 0, 0) 
                         matrix(1.5, 0.0,  0.5, 2.5, 0, 0);
   }
   100% {
      -webkit-transform: matrix(1.0, 0.0,  0.0, 1.0, 0, 0) 
                         matrix(2.0, 0.5, -0.5, 2.0, 0, 0) 
   }
}

#radial1 {
opacity: 0.8;
font-size: 24px;
width:  600px;
height: 100px;
position: absolute; top: 400px; left: 0px;

background: -webkit-gradient(
  radial, 400 25%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.9, blue),
  to(#fff)
 );

-webkit-transform : scale(2.2) skew(25deg, 35deg);
-transform : scale(2.2) skew(35deg, 35deg);
-webkit-animation-name: upperLeft;
-webkit-animation-duration: 20s;
-webkit-border-top-right-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
}

#radial2 {
opacity: 0.4;
font-size: 24px;
width:  500px;
height: 400px;
position: absolute; top: 300px; left: 300px;

background: -webkit-gradient(
  radial, 200 50%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.9, blue),
  to(#fff)
 );

-webkit-transform : scale(1.2) skew(20deg, 30deg);
-transform : scale(1.2) skew(30deg, 30deg);
-webkit-animation-name: upperRight;
-webkit-animation-duration: 20s;
-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
}

#radial3 {
opacity: 0.8;
font-size: 24px;
width:  600px;
height: 600px;
position: absolute; top: 0px; left: 0px;

background: -webkit-gradient(
  radial, 300 30%, 160, 250 25%, 80, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-box-shadow:  0px 0px 8px #000;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 20s;
-webkit-border-top-right-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
}

#radial4 {
opacity: 0.4;
font-size: 24px;
width:  600px;
height: 600px;
position: absolute; top: 20px; left: 0px;

background: -webkit-gradient(
  radial, 300 50%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.9, blue),
  to(#fff)
 );

background-image: -webkit-gradient(linear, right top, left bottom, 
                   from(yellow), 
                   color-stop(25%, yellow), 
                   color-stop(25%, red), 
                   color-stop(50%, red),
                   color-stop(50%, yellow), 
                   color-stop(75%, yellow),
                   color-stop(75%, red), 
                   to(red));
-webkit-background-size: 20px;

-webkit-transform : scale(2) skew(-20deg, -30deg);
-transform : scale(2) skew(-20deg, -30deg);

-webkit-transform : scale(2.5) skew(-15deg, -30deg);
-transform : scale(2.5) skew(-15deg, -30deg);
-webkit-animation-name: lowerRight;
-webkit-animation-duration: 20s;
-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
}

#radial33 {
opacity: 0.8;
font-size: 24px;
width:  200px;
height: 200px;
position: float; top: 150px; left: 50px;

background: -webkit-gradient(
  radial, 300 30%, 160, 250 25%, 80, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-box-shadow:  0px 0px 8px #000;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 20s;
-webkit-border-top-right-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-transform : scale(5.5) rotate(45deg);
-transform : scale(5.5) rotate(45deg);
}

#radial44 {
opacity: 0.4;
  top:0px;
  left:0px;
  border: 96px solid #ff0000;
  margin: 4px 2px 4px 6px;
  padding: 4px 2px 4px 6px;
  border-style: double;
  background-clip: content-box;
  outline: #FFFF00 solid thick;
  clip: rect(0px,550px,550px,0px);

font-size: 24px;
width:  400px;
height: 500px;
position: absolute; top: 0px; left: 10px;


background: -webkit-gradient(
  radial, 300 50%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.9, blue),
  to(#fff)
 );

background-image: -webkit-gradient(linear, right top, left bottom, 
                   from(yellow), 
                   color-stop(25%, yellow), 
                   color-stop(25%, red), 
                   color-stop(50%, red),
                   color-stop(50%, yellow), 
                   color-stop(75%, yellow),
                   color-stop(75%, red), 
                   to(red));
-webkit-background-size: 20px;

-webkit-transform : scale(2) skew(-20deg, -30deg);
-transform : scale(2) skew(-20deg, -30deg);

-webkit-transform : scale(2.5) skew(-15deg, -30deg);
-transform : scale(2.5) skew(-15deg, -30deg);
-webkit-animation-name: lowerRight;
-webkit-animation-duration: 20s;
-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-transform : scale(4) rotate(-145deg);
-transform : scale(4) rotate(-145deg);
}

#outer33 {
  top:50px;
  left:50px;
  border-top:32px solid #660000;
  border-bottom:32px solid #6600000
  border-left:20px solid #cc0000;
  border-right:20px solid #0000f8;
  border: 96px solid #0000f8;
  margin: 4px 2px 4px 6px;
  padding: 4px 2px 4px 6px;
  border-style: double;
  background-clip: content-box;
  outline: #FFFF00 solid thick;
  clip: rect(0px,350px,250px,0px);

font-size: 24px;
width:  400px;
height: 400px;
position: absolute; top: 50px; left: 10px;

-webkit-border-radius: 100%;
border-radius: 100%;
-webkit-transform : scale(3.0, 1.5) rotate(225deg);
-transform : scale(3.0, 1.5) rotate(225deg);
overflow: hidden;
}

