#outer {
position: relative; top: 10px; left: 0px;
}

@-webkit-keyframes lowerLeft {
   0% {
      -webkit-transform: matrix(1.5, 0.5,  0.0, 1.5, 0, 0) 
                         matrix(1.0, 0.0,  1.0, 1.0, 0, 0);
   }
   10% {
      -webkit-transform: translate3d(50px,50px,50px) rotate3d(50,50,50,-180deg) skew(-15deg,0) scale3d(1.25, 1.25, 1.25);
   }
   20% {
      -webkit-transform: matrix(1.0, 1.5, -0.5, 1.0, 0, 0) 
                         matrix(0.5, 0.5,  0.5, 0.5, 0, 0);
   }
   30% {
      -webkit-transform: perspective(200px) rotate3d(5,6,7,-180deg) skew(-15deg,0) scale3d(1.25, 1.25, 1.25);
   }
   40% {
      -webkit-transform: matrix(1.5, 0.0,  0.5, 0.5, 0, 0) 
                         matrix(1.0, 1.5, -0.5, 1.0, 0, 0);
   }
   50% {
      -webkit-transform: translate3d(250px,250px,250px) rotate3d(2,3,4,-120deg) skew(-65deg,0) scale3d(0.5, 0.5, 0.5);
   }
   60% {
      -webkit-transform: matrix(0.25,1.0,  1.5, 0.25, 0, 0) 
                         matrix(2.0, 0.5, -0.5, 2.0, 0, 0);
   }
   80% {
      -webkit-transform: matrix(1.5, 0.0,  0.0, 1.5, 0, 0) 
                         matrix(3.0, 1.5,  1.0, 3.0, 0, 0);
   }
   90% {
      -webkit-transform: matrix(2.0, 0.5,  1.0, 3.0, 0, 0) 
                         matrix(1.5, 0.0,  0.5, 2.5, 0, 0);
   }
   100% {
      -webkit-transform: matrix(1.0, 0.0,  0.0, 1.0, 0, 0)
                         matrix(1.0, 0.5,  1.0, 1.5, 0, 0);
   }
}

#linear1 {
opacity: 0.7;
font-size: 24px;
width:  800px;
height: 500px;

position: relative; top: 0px; left: 0px;

background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, 
                                   from(#f00), 
                                   color-stop(0.2, orange), 
                                   color-stop(0.4, yellow), 
                                   color-stop(0.6, green), 
                                   color-stop(0.8, blue),
                                   to(#00f));

background-image: -gradient(linear, right top, left bottom, 
                            from(yellow), 
                            color-stop(25%, yellow), 
                            color-stop(25%, red), 
                            color-stop(50%, blue),
                            color-stop(50%, yellow), 
                            color-stop(75%, blue),
                            color-stop(75%, red), 
                            to(red));

-webkit-transform : scale(2) skew(-10deg, -30deg);
-transform : scale(2) skew(-10deg, -30deg);
-webkit-background-size: 10px;
background-size: 20px;

-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-box-shadow:  30px 30px 30px #000;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 60s;
}

#linear2 {
opacity: 0.3;
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 0px; left: 400px;

background-image: -webkit-gradient(linear, right top, left bottom, 
                                   from(yellow), 
                                   color-stop(55%, yellow), 
                                   color-stop(55%, blue), 
                                   to(red));

background-image: -gradient(linear, right top, left bottom, 
                            from(yellow), 
                            color-stop(55%, yellow), 
                            color-stop(55%, blue), 
                            to(red));

-webkit-background-size: 20px;
-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-box-shadow:  30px 30px 30px #000;
-webkit-box-reflect: left 1px;
-box-reflect: left 1px;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 60s;
}

#linear3 {
opacity: 0.3;
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 250px; left: 0px;

background-image: -webkit-gradient(linear, right top, left bottom, 
                                   from(yellow), 
                                   color-stop(25%, yellow), 
                                   color-stop(25%, blue), 
                                   color-stop(75%, yellow),
                                   color-stop(75%, blue), 
                                   to(red));

background-image: -gradient(linear, right top, left bottom, 
                            from(yellow), 
                            color-stop(25%, yellow), 
                            color-stop(25%, blue), 
                            color-stop(75%, yellow),
                            color-stop(75%, blue), 
                            to(red));

-webkit-transform : scale(1.5) skew(20deg, 30deg);
-transform : scale(1.5) skew(30deg, 30deg);
-webkit-background-size: 10px;
-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-box-shadow:  30px 30px 30px #000;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 60s;
}

#linear4 {
opacity: 0.3;
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 250px; left: 400px;

background-image: -webkit-gradient(linear, right top, left bottom, 
                                   from(yellow), 
                                   color-stop(25%, yellow), 
                                   color-stop(25%, red), 
                                   color-stop(50%, red),
                                   color-stop(50%, yellow), 
                                   color-stop(75%, yellow),
                                   color-stop(75%, red), 
                                   to(red));

background-image: -gradient(linear, right top, left bottom, 
                            from(yellow), 
                            color-stop(25%, yellow), 
                            color-stop(25%, red), 
                            color-stop(50%, red),
                            color-stop(50%, yellow), 
                            color-stop(75%, yellow),
                            color-stop(75%, red), 
                            to(red));

-webkit-background-size: 10px;
background-size: 10px;

-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-box-shadow:  30px 30px 30px #000;
-webkit-box-reflect: right 1px;
-box-reflect: right 1px;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 60s;
}

#linear33 {
opacity: 0.3;
font-size: 24px;
width:  200px;
height: 200px;
position: float; top: 150px; left: 50px;

background-image: -webkit-gradient(linear, right top, left bottom, 
                                   from(yellow), 
                                   color-stop(25%, yellow), 
                                   color-stop(25%, blue), 
                                   color-stop(75%, yellow),
                                   color-stop(75%, blue), 
                                   to(red));

background-image: -gradient(linear, right top, left bottom, 
                            from(yellow), 
                            color-stop(25%, yellow), 
                            color-stop(25%, blue), 
                            color-stop(75%, yellow),
                            color-stop(75%, blue), 
                            to(red));

-webkit-transform : scale(1.5) skew(20deg, 30deg);
-transform : scale(1.5) skew(30deg, 30deg);
-webkit-background-size: 10px;
-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-box-shadow:  30px 30px 30px #000;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 60s;
-webkit-transform : scale(4) rotate(-145deg);
-transform : scale(4) rotate(-145deg);
}

#linear44 {
opacity: 0.3;
font-size: 24px;
width:  200px;
height: 200px;
position: float; top: 50px; left: 200px;

background-image: -webkit-gradient(linear, right top, left bottom, 
                                   from(yellow), 
                                   color-stop(25%, yellow), 
                                   color-stop(25%, red), 
                                   color-stop(50%, red),
                                   color-stop(50%, yellow), 
                                   color-stop(75%, yellow),
                                   color-stop(75%, red), 
                                   to(red));

background-image: -gradient(linear, right top, left bottom, 
                            from(yellow), 
                            color-stop(25%, yellow), 
                            color-stop(25%, red), 
                            color-stop(50%, red),
                            color-stop(50%, yellow), 
                            color-stop(75%, yellow),
                            color-stop(75%, red), 
                            to(red));

-webkit-background-size: 10px;
background-size: 10px;

-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-box-shadow:  30px 30px 30px #000;
-webkit-box-reflect: right 1px;
-box-reflect: right 1px;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 60s;
-webkit-transform : scale(5.5) rotate(45deg);
-transform : scale(5.5) rotate(45deg);
}

#outer33 {
  border-bottom:32px dashed #000066;
  margin: 4px 2px 4px 6px;
  padding: 4px 2px 4px 6px;
  border-style: double;
  background-clip: content-box;
  clip: rect(0px,150px,150px,0px);
  border-top-style: groove;
  outline: #FF0000 dashed thick;

font-size: 24px;
width:  450px;
height: 450px;
position: absolute; top: 50px; left: 150px;

-webkit-border-radius: 100%;
border-radius: 100%;
-webkit-transform : scale(2.0, 0.5) rotate(45deg);
-transform : scale(2.0, 0.5) rotate(45deg);
overflow: hidden;
}

