#outer {
position: relative; top: 10px; left: 0px;
}

/* define animation effects */
@-webkit-keyframes upperLeft {
   0% {
      -webkit-transform: translate3d(50px,50px,50px) rotate3d(20,40,5,-180deg) skew(-15deg,0) scale3d(0.25, 0.25, 0.25);
   }
   50% {
      -webkit-transform: translate3d(250px,250px,250px) rotate3d(20,5,20,-120deg) skew(-65deg,0) scale3d(0.5, 0.5, 0.5);
   }
   75% {
      -webkit-transform: translate3d(150px,150px,150px) rotate(-120deg) skew(-25deg,0) scale3d(0.5, 0.5, 0.5);
   }
   100% {
      -webkit-transform: translate3d(-20px,-20px,-20px) rotate3d(20,10,5,0) skew(40,0) scale3d(0.8, 0.8, 0.8);
   }
}

@-webkit-keyframes lowerLeft {
   0% {
      -webkit-transform: translate3d(50px,50px,50px) rotate3d(3,10,5,-180deg) skew(-15deg,0) scale3d(0.25, 0.25, 0.25);
   }
   50% {
      -webkit-transform: translate3d(250px,250px,250px) rotate3d(50,8,20,-120deg) skew(-65deg,0) scale3d(0.5, 0.5, 0.5);
   }
   75% {
      -webkit-transform: translate3d(150px,150px,150px) rotate(-120deg) skew(-25deg,0) scale3d(0.5, 0.5, 0.5);
   }
   100% {
      -webkit-transform: translate3d(-20px,-20px,-20px) rotate3d(5,5,5,0) skew(40,0) scale3d(0.8, 0.8, 0.8);
   }
}

@-webkit-keyframes upperRight {
   0% {
      -webkit-transform: translate3d(50px,50px,50px) rotate3d(5,4,3,-180deg) skew(-15deg,0) scale3d(1.25, 1.25, 1.25);
   }
   50% {
      -webkit-transform: translate3d(250px,250px,250px) rotate3d(-5,2,-5,-120deg) skew(-65deg,0) scale3d(0.5, 0.5, 0.5);
   }
   75% {
      -webkit-transform: translate3d(250px,250px,250px) rotate(-120deg) skew(-25deg,0) scale3d(2.5, 2.5, 2.5);
   }
   100% {
      -webkit-transform: translate3d(-20px,-20px,-20px) rotate3d(5,-5,2,0) skew(40,0) scale3d(1.8, 1.8, 1.8);
   }
}
 
@-webkit-keyframes lowerRight {
   0% {
      -webkit-transform: translate3d(50px,50px,50px) rotate(-180deg) skew(-15deg,0) scale3d(1.25, 1.25, 1.25);
   }
   50% {
      -webkit-transform: translate3d(100px,100px,100px) rotate(-60deg) skew(-15deg,0) scale3d(1.75, 1.75, 1.75);
   }
   75% {
      -webkit-transform: translate3d(250px,250px,250px) rotate(-120deg) skew(-25deg,0) scale3d(0.5, 0.5, 0.5);
   }
   100% {
      -webkit-transform: translate3d(0px,0px,0px) rotate(0) skew(0,0) scale3d(2.0, 2.0, 2.0);
   }
}

#radial1 {
opacity: 0.5;
font-size: 24px;
width:  300px;
height: 160px;
position: relative; top: 0px; left: 0px;

background: -webkit-gradient(
  radial, 100 25%, 20, 100 25%, 40, from(blue), to(#fff)
 );
-webkit-animation-name: upperLeft;
-webkit-animation-duration: 6s;
-webkit-border-top-right-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
}

#radial2 {
opacity: 0.5;
font-size: 24px;
width:  300px;
height: 160px;
position: absolute; top: 0px; left: 300px;

background: -webkit-gradient(
  radial, 100 25%, 20, 150 25%, 40, from(red), to(#fff)
 );

-webkit-transform : scale(2) skew(-10deg, -30deg);
-transform : scale(2) skew(-10deg, -30deg);
-webkit-animation-name: upperRight;
-webkit-animation-duration: 6s;
-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
}

#radial3 {
opacity: 0.5;
font-size: 24px;
width:  300px;
height: 160px;
position: relative; top: 0px; left: 0px;

background: -webkit-gradient(
  radial, 100 25%, 30, 100 25%, 20, from(yellow), to(#fff)
 );
-webkit-box-shadow:  0px 0px 8px #000;

-webkit-transform : scale(1.2) skew(20deg, 30deg);
-transform : scale(1.2) skew(30deg, 30deg);
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 6s;
-webkit-border-top-right-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
}

#radial4 {
opacity: 0.5;
font-size: 24px;
width:  300px;
height: 160px;
position: absolute; top: 160px; left: 300px;

background: -webkit-gradient(
  radial, 100 25%, 20, 100 25%, 40, from(green), 
  color-stop(0.2, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );

background-image: -webkit-gradient(linear, right top, left bottom, 
                   from(yellow), 
                   color-stop(25%, yellow), 
                   color-stop(25%, red), 
                   color-stop(50%, red),
                   color-stop(50%, yellow), 
                   color-stop(75%, yellow),
                   color-stop(75%, red), 
                   to(red));
-webkit-background-size: 20px;
-webkit-animation-name: lowerRight;
-webkit-animation-duration: 6s;
-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
}

#radial33 {
opacity: 0.5;
font-size: 24px;
width:  100px;
height: 100px;
position: float; top: 150px; left: 50px;

background: -webkit-gradient(
  radial, 100 25%, 30, 100 25%, 20, from(yellow), to(#fff)
 );
-webkit-box-shadow:  0px 0px 8px #000;

-webkit-transform : scale(1.2) skew(20deg, 30deg);
-transform : scale(1.2) skew(30deg, 30deg);
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 6s;
-webkit-border-top-right-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-transform : scale(5.5) rotate(135deg);
-transform : scale(5.5) rotate(135deg);
}

#radial44 {
opacity: 0.5;
font-size: 24px;
width:  100px;
height: 100px;
position: float; top: 150px; left: 50px;

background: -webkit-gradient(
  radial, 100 25%, 20, 100 25%, 40, from(green), 
  color-stop(0.2, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );

background-image: -webkit-gradient(linear, right top, left bottom, 
                   from(yellow), 
                   color-stop(25%, yellow), 
                   color-stop(25%, red), 
                   color-stop(50%, red),
                   color-stop(50%, yellow), 
                   color-stop(75%, yellow),
                   color-stop(75%, red), 
                   to(red));
-webkit-background-size: 20px;
-webkit-animation-name: lowerRight;
-webkit-animation-duration: 6s;
-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-transform : scale(4) rotate(-145deg);
-transform : scale(4) rotate(-145deg);
}

#outer33 {
  top:50px;
  left:50px;
  border-top:32px solid #660000;
  border-bottom:32px solid #6600000
  border-left:20px solid #cc0000;
  border-right:20px solid #0000f8;
  border: 96px solid #0000f8;
  margin: 4px 2px 4px 6px;
  padding: 4px 2px 4px 6px;
  border-style: double;
  background-clip: content-box;
  outline: #FFFF00 solid thick;
  clip: rect(0px,350px,250px,0px);

font-size: 24px;
width:  400px;
height: 400px;
position: absolute; top: 50px; left: 10px;

-webkit-border-radius: 100%;
border-radius: 100%;
-webkit-transform : scale(3.0, 1.5) rotate(225deg);
-transform : scale(3.0, 1.5) rotate(225deg);
overflow: hidden;
}

