#outer {
position: relative; top: 10px; left: 0px;
}

/* define animation effects */
@-webkit-keyframes upperLeft {
   0% {
      -webkit-transform: translate(0px,0px) rotateY(-75deg) skew(-45deg,0);
   }
   50% {
      -webkit-transform: translate(250px,150px) rotateY(195deg) skew(75deg,0);
   }
   75% {
      -webkit-transform: translate(300px,100px) rotateY(-315deg) skew(-25deg,0);
   }
   100% {
      -webkit-transform: translate(100px,200px) rotateY(415deg) skew(65deg,0);
   }
}

@-webkit-keyframes lowerLeft {
   0% {
      -webkit-transform: translate(0px,0px) rotateY(-75deg) skew(-45deg,0);
   }
   50% {
      -webkit-transform: translate(250px,150px) rotateY(195deg) skew(75deg,0);
   }
   75% {
      -webkit-transform: translate(300px,100px) rotateY(-315deg) skew(-25deg,0);
   }
   100% {
      -webkit-transform: translate(100px,200px) rotateY(415deg) skew(65deg,0);
   }
}

@-webkit-keyframes upperRight {
   0% {
      -webkit-transform: translate(0px,0px) rotateZ(-75deg) skew(-45deg,0);
   }
   50% {
      -webkit-transform: translate(250px,150px) rotateY(195deg) skew(75deg,0);
   }
   75% {
      -webkit-transform: translate(300px,100px) rotateZ(-315deg) skew(-25deg,0);
   }
   100% {
      -webkit-transform: translate(100px,200px) rotateY(415deg) skew(65deg,0);
   }
}
 
@-webkit-keyframes lowerRight {
   0% {
      -webkit-transform: translate(0px,0px) rotateZ(-75deg) skew(-45deg,0);
   }
   50% {
      -webkit-transform: translate(250px,150px) rotateY(195deg) skew(75deg,0);
   }
   75% {
      -webkit-transform: translate(300px,100px) rotateZ(-315deg) skew(-25deg,0);
   }
   100% {
      -webkit-transform: translate(100px,200px) rotateY(415deg) skew(65deg,0);
   }
}

#radial1 {
opacity: 0.5;
font-size: 24px;
width:  800px;
height: 100px;
position: absolute; top: 400px; left: 0px;

background: -webkit-gradient(
  radial, 400 25%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 25%;
-webkit-animation-name: upperLeft;
-webkit-animation-duration: 6s;
-webkit-border-top-right-radius: 80%;
-webkit-border-bottom-left-radius: 80%;
}

#radial2 {
opacity: 0.5;
font-size: 24px;
width:  400px;
height: 500px;
position: absolute; top: 0px; left: 400px;

background: -webkit-gradient(
  radial, 300 25%, 40, 100 25%, 20, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, red), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;
-webkit-animation-name: upperRight;
-webkit-animation-duration: 6s;
}

#radial3 {
opacity: 0.5;
font-size: 24px;
width:  800px;
height: 600px;
position: absolute; top: 0px; left: 0px;

background: -webkit-gradient(
  radial, 300 30%, 160, 250 25%, 80, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 25%;
-webkit-box-shadow:  0px 0px 8px #000;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 6s;
}

#radial4 {
opacity: 0.5;
font-size: 24px;
width:  800px;
height: 600px;
position: absolute; top: 20px; left: 0px;

background: -webkit-gradient(
  radial, 300 50%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;

background-image: -webkit-gradient(linear, right top, left bottom, 
                   from(yellow), 
                   color-stop(25%, yellow), 
                   color-stop(25%, red), 
                   color-stop(50%, blue),
                   color-stop(50%, yellow), 
                   color-stop(75%, blue),
                   color-stop(75%, red), 
                   to(red));
-webkit-background-size: 20px;
-webkit-animation-name: lowerRight;
-webkit-animation-duration: 6s;
-webkit-border-top-right-radius: 80%;
-webkit-border-bottom-left-radius: 80%;
}

#radial33 {
opacity: 0.5;
font-size: 24px;
width:  200px;
height: 200px;
position: float; top: 150px; left: 50px;

background: -webkit-gradient(
  radial, 300 30%, 160, 250 25%, 80, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.8, blue),
  to(#fff)
 );
-webkit-background-size: 100% 25%;
-webkit-box-shadow:  0px 0px 8px #000;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 6s;
-webkit-transform : scale(5.5) rotate(45deg);
-transform : scale(5.5) rotate(45deg);
}

#radial44 {
opacity: 0.5;
font-size: 24px;
width:  200px;
height: 200px;
position: float; top: 50px; left: 200px;

background: -webkit-gradient(
  radial, 300 50%, 20, 100 25%, 40, from(red), 
  color-stop(0.05, orange), color-stop(0.4, yellow), 
  color-stop(0.6, green), color-stop(0.9, blue),
  to(#fff)
 );
-webkit-background-size: 100% 33%;

background-image: -webkit-gradient(linear, right top, left bottom, 
                   from(yellow), 
                   color-stop(25%, yellow), 
                   color-stop(25%, red), 
                   color-stop(50%, blue),
                   color-stop(50%, yellow), 
                   color-stop(75%, blue),
                   color-stop(75%, red), 
                   to(red));
-webkit-background-size: 20px;
-webkit-animation-name: lowerRight;
-webkit-animation-duration: 6s;
-webkit-border-top-right-radius: 80%;
-webkit-border-bottom-left-radius: 80%;
-webkit-transform : scale(4) rotate(-145deg);
-transform : scale(4) rotate(-145deg);
}

#outer33 {
  border-top:32px dashed #000066;
  border-bottom:32px dashed #000066;
  border-left:20px solid #cc0000;
  border-right:20px solid #0000f8;
  border: 64px solid #0000f8;
  margin: 4px 2px 4px 6px;
  padding: 4px 2px 4px 6px;
  border-style: double;
  background-clip: content-box;
  clip: rect(0px,150px,150px,0px);
  border-top-style: groove;
  outline: #FF0000 dashed thick;

font-size: 24px;
width:  450px;
height: 450px;
position: absolute; top: 50px; left: 150px;

-webkit-border-radius: 100%;
border-radius: 100%;
-webkit-transform : scale(2.0, 1.5) rotate(120deg);
-transform : scale(2.0, 1.5) rotate(120deg);
overflow: hidden;
}

