#outer {
position: relative; top: 10px; left: 0px;
}

/* define animation effects */
@-webkit-keyframes upperLeft {
   0% {
      -webkit-transform: translate(0px,0px) rotateX(-75deg) skew(-15deg,0);
   }
   50% {
      -webkit-transform: translate(50px,50px) rotateX(-145deg) skew(-25deg,0);
   }
   75% {
      -webkit-transform: translate(100px,100px) rotateX(-275deg) skew(-15deg,0);
   }
   100% {
      -webkit-transform: translate(0px,0px) rotateX(0) skew(0,0);
   }
}

@-webkit-keyframes lowerLeft {
   0% {
      -webkit-transform: translate(0px,0px) rotateX(-75deg) skew(-15deg,0);
   }
   50% {
      -webkit-transform: translate(50px,50px) rotateX(-145deg) skew(-25deg,0);
   }
   75% {
      -webkit-transform: translate(100px,100px) rotateX(-275deg) skew(-15deg,0);
   }
   100% {
      -webkit-transform: translate(0px,0px) rotateX(0) skew(0,0);
   }
}

@-webkit-keyframes upperRight {
   0% {
      -webkit-transform: translate(0px,0px) rotateX(-75deg) skew(-15deg,0);
   }
   50% {
      -webkit-transform: translate(50px,50px) rotateX(-145deg) skew(-25deg,0);
   }
   75% {
      -webkit-transform: translate(100px,100px) rotateX(-275deg) skew(-15deg,0);
   }
   100% {
      -webkit-transform: translate(0px,0px) rotateY(0) skew(0,0);
   }
}
 
@-webkit-keyframes lowerRight {
   0% {
      -webkit-transform: translate(0px,0px) rotateX(-75deg) skew(-15deg,0);
   }
   50% {
      -webkit-transform: translate(50px,50px) rotateX(-145deg) skew(-25deg,0);
   }
   75% {
      -webkit-transform: translate(100px,100px) rotateX(-275deg) skew(-15deg,0);
   }
   100% {
      -webkit-transform: translate(0px,0px) rotateY(0) skew(0,0);
   }
}

#linear1 {
font-size: 24px;
width:  400px;
height: 250px;

position: relative; top: 0px; left: 0px;

background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, 
                                   from(#f00), 
                                   color-stop(0.2, orange), 
                                   color-stop(0.4, yellow), 
                                   color-stop(0.6, blue),
                                   color-stop(0.8, green), 
                                   to(#00f));

background-image: -gradient(linear, 100% 0%, 0% 100%, 
                            from(#f00), 
                            color-stop(0.2, orange), 
                            color-stop(0.4, yellow), 
                            color-stop(0.6, blue),
                            color-stop(0.8, green), 
                                   to(#00f));

-webkit-background-size: 100% 33%;
-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-box-shadow:  0px 0px 20px #00f;
-webkit-animation-name: upperLeft;
-webkit-animation-duration: 6s;
}

#linear2 {
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 0px; left: 400px;

background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, 
                                   from(#f00), 
                                   color-stop(0.4, yellow), 
                                   to(#00f));

background-image: -gradient(linear, 0% 100%, 100% 0%, 
                                   from(#f00), 
                                   color-stop(0.4, yellow), 
                                   to(#00f));

-webkit-background-size: 100% 50%;
-webkit-border-top-right-radius: 80%;
-webkit-border-bottom-left-radius: 80%;
-webkit-box-shadow:  0px 0px 20px #00f;
-webkit-animation-name: upperRight;
-webkit-animation-duration: 6s;
}

#linear3 {
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 250px; left: 0px;

background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, 
                                   from(#f00), 
                                   color-stop(0.6, green), 
                                   color-stop(0.8, blue),
                                   to(#00f));

background-image: -gradient(linear, 100% 0%, 0% 100%, 
                                   from(#f00), 
                                   color-stop(0.6, green), 
                                   color-stop(0.8, blue),
                                   to(#00f));

-webkit-background-size: 100% 25%;
-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-box-shadow:  0px 0px 20px #00f;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 6s;
}

#linear4 {
font-size: 24px;
width:  400px;
height: 250px;
position: absolute; top: 250px; left: 400px;

background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, 
                                   from(#f00), 
                                   color-stop(0.2, orange), 
                                   color-stop(0.4, yellow), 
                                   color-stop(0.6, green), 
                                   color-stop(0.8, blue),
                                   to(#00f));

background-image: -gradient(linear, 0% 100%, 100% 0%, 
                            from(#f00), 
                            color-stop(0.2, orange), 
                            color-stop(0.4, yellow), 
                            color-stop(0.6, green), 
                            color-stop(0.8, blue),
                            to(#fff));

-webkit-background-size: 100% 33%;
-webkit-border-top-right-radius: 80%;
-webkit-border-bottom-left-radius: 80%;
-webkit-box-shadow:  0px 0px 20px #00f;
-webkit-animation-name: lowerRight;
-webkit-animation-duration: 6s;
}

#linear33 {
font-size: 24px;
width:  100px;
height: 100px;
position: float; top: 150px; left: 50px;

background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, 
                                   from(#f00), 
                                   color-stop(0.6, green), 
                                   color-stop(0.8, blue),
                                   to(#00f));

background-image: -gradient(linear, 100% 0%, 0% 100%, 
                                   from(#f00), 
                                   color-stop(0.6, green), 
                                   color-stop(0.8, blue),
                                   to(#00f));

-webkit-background-size: 100% 25%;
-webkit-border-top-left-radius: 100%;
-webkit-border-bottom-right-radius: 100%;
-webkit-box-shadow:  0px 0px 20px #00f;
-webkit-animation-name: lowerLeft;
-webkit-animation-duration: 6s;
-webkit-transform : scale(5.5) rotate(45deg);
-transform : scale(5.5) rotate(45deg);
}

#linear44 {
font-size: 24px;
width:  100px;
height: 100px;
position: float; top: 150px; left: 50px;

background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, 
                                   from(#f00), 
                                   color-stop(0.2, orange), 
                                   color-stop(0.4, yellow), 
                                   color-stop(0.6, green), 
                                   color-stop(0.8, blue),
                                   to(#00f));

background-image: -gradient(linear, 0% 100%, 100% 0%, 
                            from(#f00), 
                            color-stop(0.2, orange), 
                            color-stop(0.4, yellow), 
                            color-stop(0.6, green), 
                            color-stop(0.8, blue),
                            to(#fff));

-webkit-background-size: 100% 33%;
-webkit-border-top-right-radius: 80%;
-webkit-border-bottom-left-radius: 80%;
-webkit-box-shadow:  0px 0px 20px #00f;
-webkit-animation-name: lowerRight;
-webkit-animation-duration: 6s;
-webkit-transform : scale(4) rotate(-145deg);
-transform : scale(4) rotate(-145deg);
}

#outer33 {
  top:50px;
  left:50px;
  border-top:32px solid #660000;
  border-bottom:32px solid #6600000
  border-left:20px solid #cc0000;
  border-right:20px solid #0000f8;
  border: 96px solid #0000f8;
  margin: 4px 2px 4px 6px;
  padding: 4px 2px 4px 6px;
  border-style: double;
  background-clip: content-box;
  outline: #FFFF00 solid thick;
  clip: rect(0px,350px,250px,0px);

font-size: 24px;
width:  400px;
height: 400px;
position: absolute; top: 50px; left: 10px;

-webkit-border-radius: 100%;
border-radius: 100%;
-webkit-transform : scale(2.0, 0.5) rotate(45deg);
-transform : scale(2.0, 0.5) rotate(45deg);
overflow: hidden;
}

